asyncpg
fastapi==0.115.0
loguru==0.7.2
pydantic==2.7.0
pydantic-settings==2.6.0
redis==5.2.0
SQLAlchemy==2.0.25
uvicorn==0.27.1
python-jose==3.3.0
psycopg2-binary==2.9.9
dynaconf==3.2.4
pyjwt==2.8.0
httpx
starlette
python-dotenv
greenlet
typing-extensions
aiosqlite
